* {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: linear-gradient(135deg, #054c76,#0c192a,#471c3a);
  color: #fff;
}

.swipers-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  height: 100%;
}

@media (1200px > width) {
  .swiper-slide {
    padding: 2px 12px;
    font-style: italic;
  }
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

@media (1200px <=width) {
  .swipers-container {
    flex-direction: row;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-align: center;
  }

  .swiper-1 .swiper-slide {
    background: #4444;
  }

  .swiper-2 .swiper-slide {
    background: #5555;
  }

  .swiper-3 .swiper-slide {
    background: #6666;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
  }
}
